*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

main{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main img{
    height: 20vh;
    width: 34vw;
}


#bg-image{
    height: 100vh;
    width: 100vw;
    z-index: -1;
    position: absolute;
    background-image: url('../images/bg-login-old.jpg');
    background-attachment: scroll;  
    background-size: cover;
    background-repeat: no-repeat;
    filter:blur(5px);
}

#container-login{
    height: 60vh;
    width: 35vw;
    background-color: rgba(230, 230, 230, 0.7);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 30px 100px;   
}

#container-login h1{
    text-align: center;
    font-size: 1.5em;
}

#container-login input{
    height: 30px;
    width: inherit;
    background-color: rgba(255, 255, 255, 0.4);
    border-style: none;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    border-radius: 5px;
}

#login-form{
    display: flex;
    flex-direction: column;
    height: 30vh;
    width: 20vw;
}

#login-form button{
    border-style: none;
    background-color: black;
    padding: 5px 15px;
    border-radius: 5px;
    color: white;
    align-self: center;
}

#login-form input:focus{
    animation: inputAnimation 1s ease forwards;
}

#login-form button:hover{
    animation: buttonAnimation 1s ease-in-out forwards;
}

/* Animations */
@keyframes inputAnimation{
    0%{
        transform: translate3d(0,0,0);
    }
    100%{
        transform: translate3d(-2px,-2px,0px);
    }
}

@keyframes buttonAnimation {
    0%{
        background-color: black;
        color: white;
    }
    100%{
        background-color: white;
        color: black;
    }
}