*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

main{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main img{
    height: 121px;
    width: 540px;
    margin-bottom: 50px;
}

#bg-image{
    height: 100vh;
    width: 100vw;
    z-index: -1;
    position: absolute;
    background-image: url('../images/bg-login-old.jpg');
    background-attachment: scroll;  
    background-size: cover;
    background-repeat: no-repeat;
    filter:blur(5px);
}

#error-msg{
    text-align: center;
    color: rgb(255, 25, 25);
}

#container-login{
    height: 58vh;
    width: 45vw;
    background-color: rgba(230, 230, 230, 0.7);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

#container-login h1{
    margin: 30px 0px 10px;
    text-align: center;
    font-size: 1.5em;
}

#container-login input{
    height: 45px;
    width: 35vw;;
    background-color: rgba(255, 255, 255, 0.4);
    border-style: none;
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
    border-radius: 5px;
}

#login-form{
    height: auto;
    width: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#login-form button{
    border-style: none;
    background-color: black;
    padding: 5px 15px;
    border-radius: 5px;
    color: white;
    align-self: center;
    margin-top: 25px;
}

#login-form label{
    align-self: baseline;
    margin-left: 65px;
}

/*Events*/
#login-form input:focus{
    animation: inputAnimation 1s ease forwards;
}

/*Placeholder*/
#login-form input:placeholder-shown{
    padding: 15px;
    color: rgba(15, 15, 15, 0.7);
}

.error-values{
    border-color: rgb(255, 25, 25);
    animation: shaking 1s ease-in-out forwards forwards;
}

/* Animations */
@keyframes inputAnimation{
    0%{
        transform: translate3d(0,0,0);
    }
    100%{
        transform: translate3d(-3px,-3px,0);
    }
}
@keyframes shaking{
    0%{
        transform: translateX(5px);
    }
    25%{
        transform: translateX(-2px);
    }
    50%{
        transform: translateX(1px)
    }
    75%{
        transform: translateX(-1px);
    }
    100%{
        transform: translateX(0px);
    }
}