<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- FAVICON -->
    <link rel="shortcut icon" href="{% static 'images/favicon.ico'%}" type="image/x-icon">
    <!-- CUSTOM CSS AND JS-->
    <link rel="stylesheet" href="{% static 'css/login.css'%}">
    <script type="module" src="{% static 'js/login.js'%}" defer></script>
    <title>Login</title>
</head>

<body>
    <main>
        <div id="bg-image"></div>
        <img src="{% static 'images/logo.png'%}" alt="Logo da PMNF">
        <section id="container-login">
            <h1>LOGIN</h1>
            {% if error %}
            <span id="error-msg">Seus credenciais estão incorretos</span>
            {% endif %}
            <form id="login-form" action="." method="post">
                {% csrf_token %}
                <label for="username">Username</label>
                <input type="text" id="username" name="username" placeholder="Username" autocomplete="off" required autofocus>
                <label for="password">Senha</label>
                <input type="password" id="password" name="password" placeholder="Senha" autocomplete="off" required>
                <button type="submit">Entrar</button>
            </form>
        </section>
    </main>
    {% comment %}<a href="{% url 'contas:password_reset'%}">Esqueci minha senha</a>
    <a href="{% url 'contas:cadastrar'%}">Quero me cadastrar</a>{% endcomment %}
</body>
</html>