{% extends "template.html" %}
{% load static %}
{% load bootstrap5 %}
{% block main %}
<div class="container">
    <div class="row">
        <div class="col d-flex flex-column">
            <div class="row">
                <div class="col d-flex pt-5">
                    <a href="{% url 'listagem_ocupacao' %}" class="btn btn-primary ms-auto">
                        Voltar
                    </a>
                </div>
            </div>
            {% if messages %} 
                {% for message in messages %}
            <div class="row">
                <div class="col">                    
                    <div{% if message.tags %} class="bg-{{ message.tags }} text-white text-center mt-5 px-4 py-3"{% endif %}>
                        <b>{{ message }}</b>
                    </div>                
                </div>
            </div>
            {% endfor %}                                                       
            {% endif %}        
            <form method="post" class="form col mt-5">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                    <button type="submit" class="btn btn-primary">Editar</button>
                {% endbuttons %}
            </form>
        </div>
    </div>
</div>
{% endblock %}
