<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% load bootstrap5 %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Ocupação em Hotelaria</title>

    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body class="container-fluid">
    <div class="row h-100">
        <div class="col h-100 d-flex">
           <div class="m-auto">
            <a class="m-auto" href="/regiao">Região</a>
           </div>
           <div class="m-auto">
            <a class="m-auto" href="/hospedagem">Hospedagem</a>
           </div>
           <div class="m-auto">
            <a class="m-auto" href="/ocupacao">Cadastrar Ocupação</a>
            <br><br>
            <a class="mx-auto" href="/ocupacao/listar">Listar Ocupações</a>
           </div>
        </div>
    </div>
</body>
<style>
    body, html{
        height: 100vh;
    }
</style>
</html>
