{% extends "template.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static '/css/kpi.css'%}">
<script src="{% static '/js/kpi.js'%}" defer></script>
{% endblock  %}
{% load kpi %}
{% load mathfilters %}
{% block main %}
<section class="w-100 h-100 pb-4">
    <div class="w-100 p-4 d-flex justify-content-evenly align-content-around flex-wrap">        
        <div class="kpi text-center border rounded">
            <div class="kpi-title rounded">
                <span class="px-5">DADOS DA HOTELARIA</span>
            </div>
            {% if messages %} 
            {% for message in messages %}
            <div class="row">
                <div class="col pt-3 pb-4 text-danger">                    
                    <div{% if message.tags %} class="bg-{{ message.tags }} text-center mt-5 px-4 py-3"{% endif %}>
                        <b>{{ message }}</b>
                    </div>                
                </div>
            </div>
            {% endfor %}                                                       
            {% endif %}        
            <div class="d-flex flex-column">                
                <form class="mx-auto py-3" method="POST">                   
                    <div class="d-flex">
                        <div class="mx-auto pt-4">
                        </div>
                        <div class="d-flex">
                            {% csrf_token %}
                            <!-- <div>
                                <label for="">Região:</label>
                                <select name="regiao" id="" class="form-select">
                                    <option value="" selected></option>
                                    {% for r in regioes %}
                                    <option value="{{r.id}}">{{r}}</option>
                                    {% endfor %}
                                </select>
                            </div> -->
                            <!-- <div class="ms-4">
                                <label for="">Hospedagem:</label>
                                <select name="regiao" id="" class="form-select">
                                    {% for hospedagem in regioes %}
                                    <option value="{{r.id}}">{{r}}</option>
                                    {% endfor %}
                                </select>
                            </div> -->
                            <div class="ms-4">
                                <label for="">Período inicial:</label>
                                <input class="form-control" type="date" name="dt">
                            </div>
                            <div class="ms-4">
                                <label for="">Período final:</label>
                                <input class="form-control" type="date" name="dt_f">
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-dark w-100 mt-4">Filtrar</button>                   
                </form>
            </div>
            <!-- <div class="w-100 d-flex pb-5 flex-wrap">
                
                <div class="col pt-4 d-flex flex-column">
                    {% if filtro %}                                        
                    <h4>De <b>{{dt_inicial}}</b> até <b>{{dt_final}}</b> <br>Há no total <b>{{total_viagens}}</b> viagens registradas:</h4>
                    {% else %}
                    <h4>Total de {{total_viagens}} viagens registradas:</h4>
                    {% endif %}                                        
                </div>                    
            </div>             -->
            {% if filtro %}
            <table class="table table-hover">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Região</th>
                    <th scope="col">Hospadagem</th>
                    <th scope="col">Período</th>
                    <th scope="col">Leitos Ocupados</th>
                    <th scope="col">UH's Ocupadas</th>
                    <th scope="col">% Ocupados</th>                    
                  </tr>
                </thead>
                <tbody>
                {% for o in ocupacoes %}                 
                <tr class="ocupacao">
                    <td>{{o.hospedagem.regiao}}</td>
                    <td>{{o.hospedagem}}</td>
                    <td scope="row">{{o.dt_1|date:"SHORT_DATE_FORMAT"}} até {{o.dt_2|date:"SHORT_DATE_FORMAT"}}</td>
                    <td>{{o.n_leitos_ocupados}}/{{o.hospedagem.n_total_leitos}}</td>
                    <td>{{o.n_uh_ocupados}}/{{o.hospedagem.n_total_uh}}</td>
                    <td>{{ o|uhPercent}}</td>                    
                  </tr>
                {% endfor %}
                <!-- <tr style="border: 1px solid rgb(168, 168, 168);">
                    <td style="border: 1px solid white;" class="bg-light"></td>
                    <td style="border: 1px solid white;" scope="row"></td>
                    <td style="border: 1px solid white;"></td>
                    <td style="border: 1px solid white;"></td>
                    <td style="border: 1px solid white;"></td>
                    <td style="border: 1px solid white;"></td>
                    <td style="border: 1px solid white; border-right: 1px solid rgb(168, 168, 168);"></td>
                    <td style="color: white; border: 1px solid rgb(168, 168, 168); background-color: #343A40; border-right-color: #343A40;">Total:</td>
                    <td style="color: white; border: 1px solid rgb(168, 168, 168); background-color: #343A40;">{{soma}}</td>
                    <td style=" border: 1px solid white;"></td>
                  </tr>  -->
                </tbody>
              </table>
            {% endif %}
        </div>                
    </div>    
</section>
{% endblock %}