{% extends "template.html" %}
{% load static %}
{% block main %}
    <div class="container">
      <div class="row">
        <div class="col d-flex flex-column">
            <div class="row">
                <div class="col d-flex pt-5 pb-4  justify-content-end">
                  <a href="/ocupacao" class="btn btn-primary me-1">
                    Cadastrar
                </a>
                    <a href="/" class="btn btn-primary">
                        Voltar
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col">                    
                    <table class="table table-hover">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Hospedagem</th>
                            <th>Perido</th>
                            <th scope="col">nº total de UH ocupadas</th>                            
                            <th scope="col">nº total de UH</th>  
                            
                          </tr>
                        </thead>
                        <tbody>
                        {% for l in listar %}
                          <tr>
                            <th scope="row">{{l.id}}</th>
                            <td>{{l.hospedagem.nome}}</td>
                            <td>
                              {{l.dt_1|date:"d/m/Y"}} até {{l.dt_2|date:"d/m/Y"}}
                            </td>
                            <td>{{l.n_uh_ocupados}}</td>                            
                            <td>{{l.hospedagem.n_total_uh}}</td>                                                                                   
                          </tr>                          
                        {% endfor %}
                        </tbody>
                      </table>                    
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}