{% extends "template.html" %}
{% load static %}
{% block main %}
    <div class="container">
      <div class="row">
        <div class="col d-flex flex-column">
            <div class="row">
                <div class="col d-flex pt-5 pb-4  justify-content-end">
                  <a href="/regiao" class="btn btn-primary me-1">
                    Cadastrar
                </a>
                    <a href="/" class="btn btn-primary">
                        Voltar
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col">                    
                    <table class="table table-hover">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">ID</th>
                            <th>Região</th>

                            
                          </tr>
                        </thead>
                        <tbody>
                        {% for l in listar %}
                          <tr>
                            <th scope="row">{{l.id}}</th>
                            <td>{{l.nome}}</td>                                                                                 
                          </tr>                          
                        {% endfor %}
                        </tbody>
                      </table>                    
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}