{% extends "template.html" %}
{% load static %}
{% block main %}
    <div class="container">
      <div class="row">
        <div class="col d-flex flex-column">
            <div class="row">
                <div class="col d-flex pt-5 pb-4  justify-content-end">
                  <a href="/ocupacao" class="btn btn-primary me-1">
                    Cadastrar
                </a>
                    <a href="/" class="btn btn-primary">
                        Voltar
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col">                    
                    <table class="table table-hover">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Região</th>
                            <th scope="col">Nº do Cadastur</th>
                            <th scope="col">Telefone</th>
                            <th scope="col">Nº total de UH</th>                            
                            <th scope="col">Nº total de leitos</th>
                            <th scope="col text-center">Editar</th>

                            
                          </tr>
                        </thead>
                        <tbody>
                        {% for l in listar %}
                          <tr>
                            <th scope="row">{{l.id}}</th>
                            <td>{{l.nome}}</td>
                            <td>{{l.regiao.nome}}</td> 
                            <td>
                              {{l.n_cadastur}}
                            </td>
                            <td>{{l.telefone}}</td>
                            <td>{{l.n_total_uh}}</td>                            
                            <td>{{l.n_total_leitos}}</td>
                            <td class="text-center"><a class="mx-auto" href="{% url 'editar_hospedagem' l.id %}"><i class="far fa-cog m-auto"></i></a></td>                                                                     
                          </tr>                          
                        {% endfor %}
                        </tbody>
                      </table>                    
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}