<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css'%}">
    <title>Login</title>
</head>

<body>
    <main>
        <h1>LOGIN</h1>
        <form id="form-login">
                {% if error %}
                    <div>{% msg %}</div>
                {% endif%}

                <label for="username">Username:</label>
                <input type="text" name="username" id="username" maxlength="150" autofocus required>
                <label for="password">Senha</label>
                <input type="password" name="password" id="password" mixlength="8" required>
                <button>Entrar</button>
        </form>
    </main>
    <a href="{% url 'autenticacao:password_reset%}">Esqueci minha senha</a>
    <a href="{% url 'autenticacao:cadastrar'%}">Quero me cadastrar</a>
</body>
<script src="{% static 'login.js'%}"></script>

</html>